<h2> Create new Advertisement </h2>

<div class="white new_add_container">
  <%= form_for @changeset, advertisement_path(@conn, :create), fn f-> %>
    <div class="form-group">
      <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
      <%= error_tag f, :title %>
    </div>
        <%= submit "Save Advertisement", class: "btn btn-primary" %>
  <% end %>
</div>
